# venv
.humatch_venv/*
build/*
*egg-info/*

# cnn weights
Humatch/trained_models/*
!Humatch/trained_models/.gitkeep

# germline likeness npy files
Humatch/germline_likeness_lookup_arrays/*
!Humatch/germline_likeness_lookup_arrays/.gitkeep

# data
data/*
!data/example.csv
!data/example_prealigned.csv